@import url("https://fontsapi.zeoseven.com/181/main/result.css");

@font-face {
    font-family: "ZSFT-344";
    src: url("https://fontsapi.zeoseven.com/344/main.woff2") format("woff2"),
        url("https://fontsapi-storage.zeoseven.com/344/main.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "ZSFT-344", "未来圆SC";
    font-weight: normal;
}